@import url('https://fonts.googleapis.com/css2?family=Cutive+Mono&family=Quicksand:wght@400;700&display=swap');


:root {
    font-size: 62.5%;

    --main-font-family: 'Cutive Mono', monospace; 
    --heading-font-family: 'Quicksand', sans-serif;

    --primary-color: #D96B6B;
    --background-color: #2D1F1F;
    --font-color-white: #FFFFFF;
}

* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    list-style: none;
    text-decoration: none;
    color: var(--font-color-white);
    font-family: var(--main-font-family);
    font-size: 1.6rem;
}

body {
    background-color: var(--background-color);
    min-height: 100vh;
}

h1 {
    color: var(--primary-color);
}

h1, h2 {
    font-family: var(--heading-font-family);
    font-size: 4.6rem;
    font-weight: 400;
}

h3 {
    font-family: var(--heading-font-family);
    font-size: 3.2rem;
    font-weight: 400;
    padding: 1em 0;
}

main {
    padding: 6rem 1rem;
}

aside {
    width: 32rem;
    display: flex;
    align-items: center;
    gap: 4rem;
}

form {
    padding-bottom: 1.6rem;
}

input {
    width: 10rem;
    border: none;
    padding: .5rem;
    border: 1px solid var(--primary-color);
    color: var(--primary-color);
    background-color: #ffffff15;
    text-align: center;
}
input::-webkit-inner-spin-button {
    display: none;
}
input:focus {
    outline: none;
}

p, label {
    line-height: 1.5em;
    padding: 1em 0;
}

button {
    padding: 1.2rem 2.4rem;
    appearance: none;
    border: none;
    border-radius: 1rem;
    background-color: var(--primary-color);
}
button:hover {
    color: var(--background-color);
}
button:active {
    color: var(--font-color-white);
}

.wrapper {
    max-width: 1000px;
    margin: auto;
}

.body-margin {
    margin-right: 6rem;
}

/* .-.-.-.-.-.-.- HERO // GENERAL .-.-.-.-.-.-.-.- */

.hero {
    height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    position: relative;
    z-index: 0;
}

.h1--huge {
    font-size: 25.6rem;
    font-weight: 400;
    z-index: 1;
}

.h1-wrapper {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.h1__p {
    color: var(--primary-color);
    text-align: center;
    z-index: 1;
}

.pink-bar {
    width: 6rem;
    background-color: var(--primary-color);
}

.top-left, .bottom-right {
    transition: 500ms;
}

.top-left:hover,
.bottom-right:hover {
    background-color: var(--primary-color);
}

/* .-.-.-.-.-.-.- HERO // TOP LEFT .-.-.-.-.-.-.-.- */

.pink-bar--left {
    height: 9rem;
}

/* .-.-.-.-.-.-.- HERO // BOTTOM-RIGHT // NAVIGATION .-.-.-.-.-.-.-.- */

.bottom-right {
    justify-content: end;
    align-self: end;
}

.pink-bar--right {
    height: 15rem;
}

.bottom-right ul {
    display: flex;
    flex-direction: column;
    align-items: end;
    gap: 2rem;
}

.main-navigation__wrapper{
    background-color: var(--primary-color);
    width: 100vh;
    height: 6rem;
    transform: rotateZ(90deg);
    transform-origin: left top;
    position: fixed;
    top: 0;
    left: 100%;
}

.main-navigation {
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: space-around;
}

.main-navigation a {
    border: solid 2px transparent;
    padding: .8em;
}

.bottom-right a:hover,
.main-navigation a:hover {
    padding: .8em;
    border: solid 2px var(--font-color-white);
}

/* .-.-.-.-.-.-.- ABOUT .-.-.-.-.-.-.-.- */

.about__section {
    display: flex;
    gap: 4rem;
    margin-bottom: 4rem;
}

.about__section--img {
    text-align: center;
}

.profile-img {
    height: 300px;
    margin-bottom: 3rem;
}

.github-svg path,
.linkedin-svg path {
    transition: fill 500ms;
}

.github-svg {
    margin-right: 1rem;
}
.github-svg:hover path, 
.linkedin-svg:hover path {
    fill: var(--primary-color);
}

/* .-.-.-.-.-.-.- BUBBLES .-.-.-.-.-.-.-.- */

.bubble {
    border-radius: 50%;
    background-color: #D96B6B;
    opacity: 0;
    z-index: -1;
    animation: bubbles 5s;
}

.bubble--xxsmall {
    height: 140px;
    width: 140px;
    box-shadow: inset 0px 0px 50px #1A0404;
    position: absolute;
    top: 50%;
    left: 57%;
    animation-delay: 600ms;
}

.bubble--xsmall {
    height: 100px;
    width: 100px;
    box-shadow: inset 0px 0px 50px #1A0404;
    position: absolute;
    top: 30%;
    left: 16%;
    animation-delay: 1s;
}

.bubble--small {
    height: 120px;
    width: 120px;
    box-shadow: inset 0px 0px 60px #1A0404;
    position: absolute;
    top: 37%;
    left: 40%;
}

.bubble--medium {
    height: 170px;
    width: 170px;
    box-shadow: inset 0px 0px 70px #1A0404;
    position: absolute;
    top: 15%;
    right: 18%;
    animation-delay: 2300ms;
}

.bubble--large {
    height: 200px;
    width: 200px;
    box-shadow: inset 0px 0px 84px #1A0404;
    position: absolute;
    top: 52%;
    left: 8%;
    animation-delay: 1600ms;
}

/* .-.-.-.-.-.-.- IMG-GRID .-.-.-.-.-.-.-.- */

.h2--grid {
    padding: .7em 0;
    text-align: center;
}

.img-grid__p {
    text-align: center;
}

.line {
    max-width: 40rem;
    height: 2px;
    background-color: #D96B6B;
    margin: auto;
}

.source-link:hover {
    color: var(--primary-color);
}

.img-grid__section {
    margin: auto;
    background-color: var(--background-color);
    padding: 1.5em;
    border: 3px solid var(--primary-color);
    text-align: center;
    box-shadow: 0px 4px 10px #1a040456;
}

.img-grid {
    display: grid;
    justify-content: center ;
    gap: 1rem;
    grid-template-columns: repeat(auto-fit, minmax(20rem, 1fr));
    grid-auto-rows: 15rem;
    grid-auto-flow: dense;
    margin-top: 3rem;
}

.img-grid img {
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.grid-3-row {
    grid-row: span 3;
}
.grid-2-row {
    grid-row: span 2;
}
.grid-2-col {
    grid-column: span 2;
}

.loader {
    width: 100px;
    animation: spinner 600ms ease-in infinite;
}

/* .-.-.-.-.-.-.- TEXT .-.-.-.-.-.-.-.- */

.text {
    max-width: 50rem;
    text-align: center;
    margin: 6rem auto;
}

.help-text {
    color: var(--primary-color);
    font-size: 1.4rem;
    padding: 1rem 0 0;
}

.p--footer {
    opacity: .5;
    text-align: center;
}

/* .-.-.-.-.-.-.- CARD .-.-.-.-.-.-.-.- */

.cardstack {
    display: flex;
    flex-wrap: wrap;
    gap: 2rem;
}

.cardstack--my-work {
    margin-top: 3rem;
    flex-direction: column;
}

.card {
    border: 1px solid var(--primary-color);
    min-width: 30rem;
    flex: 1;
    text-align: center;
    padding: 2rem;
    transition: all 500ms;
    box-shadow: 0px 4px 10px #1a040456;
}

.card--my-work {
    display: flex;
    gap: 1rem;
}

.card--my-work:nth-child(even) {
    flex-direction: row-reverse;
    flex-wrap: wrap;
}

.card__img-container {
    flex: 1;
    display: flex;
    flex-direction: column;
    gap: 1rem;
}

.card__img {
    width: 100%;
    min-width: 250px;
}

.card__info {
    flex: 1;
    padding: 0 2rem;
}

.line--small {
    width: 80%;
}

.github:hover, 
.figma:hover,
.linkedin:hover {
    flex: 2;
    cursor: pointer;
}
.github:hover a h3, 
.figma:hover a h3,
.linkedin:hover a h3,
.my-work .card:hover .card__info h3 {
    color: var(--primary-color);
}

/* .-.-.-.-.-.-.- FOOTER .-.-.-.-.-.-.-.- */

.footer--contact {
    margin-top: 40vh;
}

/* .-.-.-.-.-.-.- UTILITY CLASSES .-.-.-.-.-.-.-.- */

.hide {
    display: none;
}

@keyframes bubbles {
    0%   {  opacity:    0%;     scale: 0%;             }
    10%  {  opacity:    60%;    transform: scale(60%); }
    30%  {  opacity:    30%;    transform: scale(160%);}
    100% {  opacity:    0%;                            }
}

@keyframes spinner {
    0%  { transform: rotateZ(0deg);     opacity: .2; }
    25% { transform: rotateZ(90deg); }
    50% { transform: rotateZ(180deg);   opacity: 1;}
    75% { transform: rotateZ(270deg); }
    100% { transform: rotateZ(360deg);  opacity: .2; }
}

@media screen and (max-width: 768px){
    .h1--huge {
        font-size: 12rem;
    }
    
    main {
        padding: 6rem .5rem;
    }
    .about {
        text-align: center;
    }
    .about__section {
        flex-direction: column;
        align-items: center;
    }
    .about__section--img {
        display: flex;
        flex-direction: column;
        justify-content: center;
    }
    .card--my-work {
        flex-direction: column;
    }
}

@media screen and (max-width: 425px) {
    .about {
        max-width: 100%;
    }
}

@media screen and (max-width: 375px) {
    .h2--grid {
        font-size: 3rem;
    }
}